.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items{
    padding: 0px 20px;
}

.nav-items > ul{
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}
.res-card{
    width: 200px;
    height: 380px;
    padding: 5px;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}

.resto-Container{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}
.search{
    padding: 10px;
}
.res-logo{
    width: 100%;
    height: 150px;
}